html,
body {
    height: 100%;
    margin: 0;

    font-family: sofia-pro, Helvetica, sans-serif;
    background-color: rgb(245, 91, 73);
}

header .logo {
    fill: #000;
}

.nav-tgl > span {
  background: black;
}

.nav-tgl > span:before,
.nav-tgl > span:after {
  background: black;
}

.buffer {
    height: 100px;
}

.turn {
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#side
{
    float: left;
    position: absolute;
    position: fixed;
    color: white;
    font-size: 5em;
    margin: 0;
    margin-left: -180px;
    margin-top: 160px;
}

.textfield {
    margin-top: 170px;
    margin-left: 6em;
    margin-right: 30%;
    margin-bottom: 4em;
}

.text {
    color: white;
}

.subhead1 {
    color: white;
    font-size: 40px;
}

.subhead2 {
    color: white;
    font-size: 30px;
}


@media (max-width: 1400px) {
    
    .textfield {
    margin-top: 170px;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 4em;
}
    
    .subhead1 {
    color: white;
    font-size: 30px;
}

.subhead2 {
    color: white;
    font-size: 20px;
}

    }

@media (max-width: 600px) {
    
    #side {
    font-size: 3em;
    margin-left: -105px;
    margin-top: 95px;
}

    
    .textfield {
        margin-top: 140px;
        margin-left: 3em;
        margin-right: 1em;
    }
    
    .subhead1 {
    color: white;
    font-size: 20px;
}

.subhead2 {
    color: white;
    font-size: 15px;
}

    }

@media (max-width: 400px) {
    
    .textfield {
        margin-top: 110px;
        margin-left: 3em;
        margin-right: 1em;
    }

    }