.anzeige_rahmen {
  border: 30px solid #167d7d;
}

.bufferTOP {
  width: 100%;
  height: 100px;
}

.anzeige {
  position: absolute;
  font-size: 5em;

  left: -115px;
  top: 550px;

  transform: rotate(-90deg);
}

.anzeige > * {
  margin: 0;
}

#title {
  text-align: center;
  font-size: 6em;
  max-width: 1200px;
}

.subhead {
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  max-width: 800px;
}

.statistik {
  width: 80%;
  margin-top: 100px;
}

.kampagnen_motiv {
  max-width: 500px;
}

.bg {
  width: 100%;
  /* height: 100px; */
  margin-top: -70px;
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #167d7d;
}

.icon-container a > * {
  width: 70px;
  display: inline-block;
  margin: 0 15px;
}

.contact h3 {
  font-weight: 400;
}

.contact h3 > a {
  color: rgb(245, 91, 73);
}

.end-whatev {
  font-weight: 400;
}

.endbuffer {
  height: 100px;
}

@media (max-width: 1000px) {
  #title {
    font-size: 4em;
  }
}

@media (max-width: 800px) {
  .kampagnen_motiv {
    max-width: 100%;
  }

  .anzeige {
    font-size: 3em;
    left: -60px;
  }
}

@media (max-width: 600px) {
  #title {
    font-size: 3em;
  }

  .subhead {
    font-size: 1.5em;
  }

  .anzeige_rahmen {
    border: 20px solid #167d7d;
  }

  .icon-container a > * {
    width: 50px;
  }

  .anzeige {
    font-size: 3em;
    top: 0;
    left: unset;
    right: 25%;

    transform: rotate(0deg);
  }
}
